@import "tailwindcss";

@theme {
  --font-display: "Lato", "sans-serif";
}

@layer base {
  h1 {
    font-size: var(--text-5xl);
    font-weight: 600;
    padding-block: calc(var(--spacing) * 4);
  }

  h2 {
    font-size: var(--text-4xl);
    font-weight: 600;
    padding-block: calc(var(--spacing) * 4);
  }

  h3 {
    font-size: var(--text-2xl);
    font-weight: 600;
    padding-block: calc(var(--spacing) * 4);
  }

  p {
    padding-block: calc(var(--spacing) * 4);
  }

  ul {
    list-style-type: disc;
    margin-inline-start: calc(var(--spacing) * 6);
    padding-block: calc(var(--spacing) * 4);
  }

  ul ul {
    list-style-type: circle;
    margin-inline-start: calc(var(--spacing) * 6);
    padding-block: 0;
  }

  a {
    text-decoration-line: underline;
  }
}
