{% extends "base.html" %}

{% block title %}{{ category|capitalize }}{% endblock %}

{% block content %}
<div class="flex mb-16 pb-16 border-b-3 border-b-black dark:border-b-neutral-200">
<!-- <footer class="flex flex-row mt-16 py-16 border-t-3 border-t-black dark:border-t-neutral-200"> -->
  <h1 class="text-8xl font-semibold">
    {{ category|capitalize }}
  </h1>
</div>

{% for article in articles_page.object_list %}
<article>
  <header>
    <h2 class="text-3xl font-semibold"><a class="no-underline hover:underline" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{
        article.title }}</a></h2>
  </header>
  <section>{{ article.summary }}</section>
</article>
{% endfor %}
{% endblock %}
